/* BASICS */
#main-content{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

h2{
    text-align: center;
    color: black;
}

/* NAVIGATOR */
.nav{
    font-size: 150%;
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px;
}

.nav li{
    display: inline-block;
    padding-right: 50px;
    font-weight: bold;
}

.nav li a{
    text-decoration: none;
    color: purple;
}

.subNav{
    background-color: darkgrey;
    color: salmon;
    list-style: none;
    text-align: center;
    padding: 30px 0 30px;
}

.subNav li{
    display: inline-block;
    padding-right: 60px;
}

a{
    text-decoration: none;
    color: purple;
}

/* BOX LINKS */

.box1{
    background-image: url(background.jpg);
    padding: 100px;
    margin: 100px;
    background-repeat: round;
}

.box2{
    background-image: url(background.jpg);
    padding: 100px;
    margin: 100px;
    background-repeat: round;
}

.subNav{
    display:flex;
    padding: 10px;
    margin: 5px;;
}

.box3 .subNav{
    display: flex;
    background-image: url(background.jpg);
    padding: 100px;
    margin: 100px;
    background-repeat: round;
}





/*
a{
    text-decoration: none;
    color: crimson;
}
/*
div{
    background-color: white;
    padding: 35px;
    width: 75%;
    margin: auto;                   /*center horizontally*/


/*
h1{
    color: coral;
}

h2{
    color:lightcoral
}

h3{
    color: lightcoral;
}

li{
    list-style-type: none;
    display: inline-block;
}

td{
    border: 2px dotted blue;
    background: orange;
    padding: 8px;
}
