html {
    background: #8325CF;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    text-align: left;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

.course-form {
    max-width: 500px;
    background: #EF2727;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 35px;
}

label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

h2{
    text-align: center;
}

input #txt-description {
    width: 100%;
    height: 300px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
}

.course {
    margin-left: 10px;
    background: white;
    border-radius: 5px;
    width: fit-content;
    padding: 3px;
}
.course h3 {
    text-align: center;
}

input:hover{
    background-color: lightgray;
    cursor: crosshair;
}

.course-form{
    margin-top: 50px;
    box-shadow: 5px 5px rgb(143, 11, 11);
}

button{
    text-align: center;
    position: relative;
    align-content: center;
    margin: auto;
    padding: auto;
    margin-left: 200px;
    border-radius: 3px;
    background-color: rgb(143, 11, 11);
    color: white;
}