body {
    font-family: arial;
    text-align: center;
}

#fruit-list {
    display: flex;
    flex-wrap: wrap;
}

.fruit {
    width: 30%;
    background: skyblue;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    animation: animate 2s 1;
}

.fruit a {
    text-decoration: none;
}

.hidden {
    display: none;
}

#fruit-forms {
    display: flex;
}

.fruit-form {
    background: lightpink;
    padding: 5px;
    width: 45%;
    margin: 5px;
    border-radius: 5px;
}

@keyframes animate {
    0% {
        color: black;
        margin-top: -40px;
        opacity: 0%;
    }
}
